﻿@model WebApplication.Models.BookingViewModel

<div>
  <table class="table">
    <tr>
      <th>
        @Html.DisplayFor(model => model.DepartureDate)
      </th>

      <th>
        @Html.DisplayFor(model => model.Flight.DepartureTime)
      </th>
      
      <th>
        @Html.DisplayFor(model => model.Flight.DepartureDayOfTheWeek)
      </th>

      <th>
        @Html.DisplayFor(model => model.TotalPassengers)
      </th>

      <th>
        @Html.DisplayFor(model => model.TotalPassengers)
      </th>
      <th>
        @Html.DisplayFor(model => model.Flight.AirlineCode)
      </th>
      <th>
        @Html.DisplayFor(model => model.Flight.AirlineName)
      </th>
      <th>
        @Html.DisplayFor(model => model.Flight.DepartureLocation)
      </th>
      <th>
        @Html.DisplayFor(model => model.Flight.ArrivalLocation)
      </th>
      <th>
        @Html.DisplayFor(model => model.Flight.ArrivalDayOfTheWeek)
      </th>
      <th>
        @Html.DisplayFor(model => model.Flight.ArrivalTime)
      </th>
      <th>
        @Html.DisplayFor(model => model.PriceLevel)
      </th>
      <th>
        @Html.DisplayFor(model => model.Price)
      </th>
      <th>
        @Html.DisplayFor(model => model.Direction)
      </th>

    </tr>
  </table>
</div>

