﻿@using BryanAir.Contracts.Helpers
@model IEnumerable<WebApplication.Models.FlightResultsViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FlightViewModel.AirlineCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightViewModel.AirlineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightViewModel.FlightNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightViewModel.DepartureLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightViewModel.DepartureDayOfTheWeek)
        </th>
      <th>
        @Html.DisplayNameFor(model => model.FlightViewModel.DepartureTime)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.TimeDiffirenceFromSearch)
      </th>

      
      <th>
            @Html.DisplayNameFor(model => model.FlightViewModel.ArrivalLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightViewModel.ArrivalDayOfTheWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightViewModel.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightViewModel.FatCatClassTicketPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightViewModel.CattleClassTicketPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightViewModel.Status)
        </th>
      <th>
        @Html.DisplayNameFor(model => model.FlightViewModel.AvailableEcoSeats)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.FlightViewModel.AvailableBussinessSeats)
      </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FlightViewModel.AirlineCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightViewModel.AirlineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightViewModel.FlightNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightViewModel.DepartureLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightViewModel.DepartureDayOfTheWeek)
        </td>
      <td>
        @Html.DisplayFor(modelItem => item.FlightViewModel.DepartureTime)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TimeDiffirenceFromSearch)
      </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.FlightViewModel.ArrivalLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightViewModel.ArrivalDayOfTheWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightViewModel.ArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightViewModel.FatCatClassTicketPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightViewModel.CattleClassTicketPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightViewModel.Status)
        </td>
      <td>
        @Html.DisplayFor(modelItem => item.FlightViewModel.AvailableEcoSeats)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.FlightViewModel.AvailableBussinessSeats)
      </td>
      <td>
        @if (item.FlightViewModel.AvailableEcoSeats >= item.Passengers)
        {
          @Ajax.ActionLink("Book Economy",
            "Book",
            routeValues: new
            {
              flightId = item.FlightViewModel.Id,
              itinireraryId = item.ItinireraryId,
              direction = (int) FlightDirection.Outbound,
              departureDate = item.SearchDepartureDate,
              passengers = item.Passengers,
              PriceLevel = (int) PriceLevel.Economy

            },
            ajaxOptions: new AjaxOptions
            {
              UpdateTargetId = "OutboundResults",
              InsertionMode = InsertionMode.Replace,
              HttpMethod = "GET"
            }) 
        }
        @if (item.FlightViewModel.AvailableBussinessSeats >= item.Passengers)
        {
          @Ajax.ActionLink("Book Bussiness",
            "Book",
            routeValues: new
            {
              flightId = item.FlightViewModel.Id,
              itinireraryId = item.ItinireraryId,
              direction = (int) FlightDirection.Outbound,
              departureDate = item.SearchDepartureDate,
              passengers = item.Passengers,
              PriceLevel = (int) PriceLevel.Bussiness

            },
            ajaxOptions: new AjaxOptions
            {
              UpdateTargetId = "OutboundResults",
              InsertionMode = InsertionMode.Replace,
              HttpMethod = "GET"
            })
        }
      </td>
    </tr>
}

</table>
