﻿@using System.Web.UI.WebControls
@model WebApplication.Models.SearchResultsViewModel

@{
  ViewBag.Title = "SearchResults";
}

<h2>Search Results</h2>
@Html.ValidationSummary("", new { @class = "text-danger" })
@Html.ValidationMessage("CustomError")
  <table class="table">
    <tr>
      <td><h3>@Html.DisplayFor(model => model.SearchOptionsViewModel.DepartureLocation)</h3></td>
      <td><h3>@Html.DisplayFor(model => model.SearchOptionsViewModel.ArrivalLocation)</h3></td>
      <td><h3>@Html.DisplayFor(model => model.SearchOptionsViewModel.DepartureTime)</h3></td>
      <td><h3>@Html.DisplayFor(model => model.SearchOptionsViewModel.TotalPassengers)</h3></td>
    </tr>
  </table>
  @Html.ActionLink("Complete Booking", "Confirm", new {itineraryId = Model.SearchOptionsViewModel.Itinerary.Id} )
  @if (Model != null && Model.SearchOptionsViewModel.Itinerary != null)
  {
    @Html.ActionLink("Find More Flights", "Search", new { itineraryId = Model.SearchOptionsViewModel.Itinerary.Id })
  }
  <div>
    <h4>Outbound Flights</h4>
    <div id="OutboundResults">
      @{ Html.RenderPartial("_FlightResultsOutbound", Model.OutboundResults);}
    </div>
  </div>

  <div>
    <h4>Inbound Flights</h4>
    <div id="InboundResults">
      @{ Html.RenderPartial("_FlightResultsInbound", Model.InboundResults);}
    </div>
  </div>
