﻿@model WebApplication.Models.SearchOptionsViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Search for some Flying Action</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.ValidationMessage("CustomError")

      <div class="form-group">
        @Html.LabelFor(model => model.IsReturnFlight, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
          @Html.EditorFor(model => model.IsReturnFlight, new { htmlAttributes = new { @class = "form-control" } })         
        </div>
      </div>

      <div class="form-group">
            @Html.LabelFor(model => model.DepartureLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartureLocation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartureLocation, "", new { @class = "text-danger" })
            </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.ArrivalLocation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.ArrivalLocation, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.ArrivalLocation, "", new { @class = "text-danger" })
        </div>
      </div>


      <div class="form-group">
        @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
          @Html.EditorFor(model => model.DepartureTime, new {htmlAttributes = new {@class = "form-control"}})
          @Html.ValidationMessageFor(model => model.DepartureTime, "", new {@class = "text-danger"})
        </div>
      </div>
      
      <div class="form-group">
        @Html.LabelFor(model => model.ReturnTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.ReturnTime, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.ReturnTime, "", new { @class = "text-danger" })
        </div>
      </div>



        <div class="form-group">
            @Html.LabelFor(model => model.TotalPassengers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalPassengers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalPassengers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("My Itineraries", "Index", "Itinerary") 
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
