﻿@model WebApplication.Models.CheckoutViewModel

@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation - Your Ticket</h2>

<div>
    <h4>Ticket</h4>
    <hr />
  <dl class="dl-horizontal">
  </dl>
  <dl>
    @Html.ValidationSummary("", new { @class = "text-success" })
    @Html.ValidationMessage("CustomError")
    @Html.DisplayFor(model => model.Tickets)
  </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
