﻿@model WebApplication.Models.CheckoutViewModel

@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>



@using (Html.BeginForm(Model.RequiresCreditCardInfo ? "SaveParticulars" : "Pay", "Checkout", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>CheckoutViewModel</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.ValidationMessage("CustomError")
        @Html.HiddenFor(model => model.ItineraryId)
        @Html.HiddenFor(e => e.UserParticularsViewModel.Id, new { @id = "UserParticularId", @Name = "UserParticularId" })
        

      Total Price: £ @Html.DisplayFor(model => model.Total)
      @{
        if (Model.RequiresCreditCardInfo)
        {
          Html.RenderPartial("_UserParticularsView", Model.UserParticularsViewModel);
        }
        
      }

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          
          @{ var btnValue = Model.RequiresCreditCardInfo ? "Save" : "Pay";}
          <input type="submit" value=@btnValue class="btn btn-default"/>

        </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
