﻿@model IEnumerable<WebApplication.Models.BookingViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
      <th>@Html.DisplayNameFor(model => model.Flight.AirlineName)</th>
      <th>@Html.DisplayNameFor(model => model.Flight.AirlineCode)</th>
      <th>@Html.DisplayNameFor(model => model.DepartureDate)</th>
      <th>@Html.DisplayNameFor(model => model.Flight.DepartureTime)</th>
      <th>@Html.DisplayNameFor(model => model.Flight.DepartureLocation)</th>
      <th>@Html.DisplayNameFor(model => model.Flight.ArrivalLocation)</th>
      <th>@Html.DisplayNameFor(model => model.Flight.ArrivalTime)</th>
      <th>@Html.DisplayNameFor(model => model.TotalPassengers)</th>
      <th>@Html.DisplayNameFor(model => model.Price)</th>
      <th>@Html.DisplayNameFor(model => model.Direction)</th>
      <th>@Html.DisplayNameFor(model => model.PriceLevel)</th>
      <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      <td>@Html.DisplayFor(modelItem => item.Flight.AirlineName)</td>
      <td>@Html.DisplayFor(modelItem => item.Flight.AirlineCode)</td>
      <td>@Html.DisplayFor(modelItem => item.DepartureDate)</td>
      <td>@Html.DisplayFor(modelItem => item.Flight.DepartureTime)</td>
      <td>@Html.DisplayFor(modelItem => item.Flight.DepartureLocation)</td>
      <td>@Html.DisplayFor(modelItem => item.Flight.ArrivalLocation)</td>
      <td>@Html.DisplayFor(modelItem => item.Flight.ArrivalTime)</td>
      <td>@Html.DisplayFor(modelItem => item.TotalPassengers)</td>
      <td>@Html.DisplayFor(modelItem => item.Price)</td>
      <td>@Html.DisplayFor(modelItem => item.Direction)</td>
      <td>@Html.DisplayFor(modelItem => item.PriceLevel)</td>
    </tr>
}

</table>
