﻿@model WebApplication.Models.ItineraryViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Your Itinerary </h4>
    <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Status)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Status)
    </dd>
  </dl>
  @{ Html.RenderPartial("_BookedFlights",Model.Bookings); }
</div>
<p>
    @Html.ActionLink("Checkout", "Checkout", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
