﻿@model IEnumerable<WebApplication.Models.ItineraryViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  @Html.ActionLink("Search for Flights", "Search","Search")
</p>
@Html.ValidationSummary("", new { @class = "text-danger" })
@Html.ValidationMessage("CustomError")
<table class="table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Status)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Description)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.TotalPrice)
      </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
      <td>
        @Html.DisplayFor(modelItem => item.Description)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.TotalPrice)
      </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @if (item.IsCancelable)
            {
              @Html.ActionLink("Cancel", "Cancel", new { id = item.Id }) @Html.Encode(" | ")
              @Html.ActionLink("Add More Flights", "Search","Search", new {itineraryId = item.Id}, null)
            }
        </td>
    </tr>
}

</table>
