﻿@model WebApplication.Models.FlightViewModel

@{
    ViewBag.Title = "Cancel";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FlightViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AirlineCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirlineCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirlineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirlineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDayOfTheWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDayOfTheWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDayOfTheWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDayOfTheWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatCatClassTicketPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatCatClassTicketPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CattleClassTicketPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CattleClassTicketPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancel" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
